.course-container {
    display: grid;
    justify-content: center;
}

.course-container img {
    height: 200px;
    width: 200px;
}

.course-details {
    background-color: rgb(243, 196, 191);
    border-radius: 8px;
    margin: 80px 0;
    padding: 30px;
    line-height: 15px;

}

.data-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 8px;
    height: 50px;
    width: 200px;
    color: aliceblue;
    font-size: large;
    font-weight: 700;
}

.data-btn:hover {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {


    .course-container img {
        height: 140px;
        width: 140px;
    }

    .course-details {
        padding: 20px;
        line-height: 15px;
        font-size: small;

    }

    .data-btn {

        height: 50px;
        width: 140px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .course-container img {

        height: 200px;
        width: 200px;
    }

    .course-details {
        padding: 30px;
        font-size: small;
    }
}

@media only screen and (max-width: 767px) {

    .course-container img {

        height: 200px;
        width: 200px;
    }

    .course-details {
        margin: 40px 0;
        padding: 20px;
        font-size: small;

    }

    .data-btn {
        width: 200px;
    }
}