.blog-container {
    width: 90%;
    margin-left: 45px;
    margin-top: 120px;
    text-align: justify;
}

.blog-container li {
    color: salmon;
}

.blog-container p {
    color: black;
}

@media only screen and (min-width: 784px) and (max-width: 992px) {

    .blog-container {
        width: 87%;
        margin: 0 20px;

    }

}

@media only screen and (max-width: 784px) {
    .blog-container {
        width: 78%;
        margin: 0 8px;
        font-size: small;
    }
}